.section1 {
    background-color: #1f2535;
    color: #fefefe;
    height: 500px;
    padding: 20px 50px 35px;
    background-image: url("/images/react-logo.svg"), url("/images/react-logo.svg"),
        url("/images/react-logo.svg");  
    background-position: top 20px right 100px, top 250px right 80px, top 380px right 200px;
    background-repeat: no-repeat;
    background-size: 230px, 230px, 180px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
}

.main-div>h1 {
    font-size: 4rem;
    width: 350px;
}

.main-div>h3 {
    width: 300px;
}

.main-div>button {
    background-color: #fefefe;
    border-radius: 4px;
    color: #1f2535;
    font-weight: bold;
    padding: 15px;
}

.section2 {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 400px;
    padding: 40px;
}

.section2 > div {
    width: 300px;
    text-align: center;
}